.App {
  text-align: center;
}

.block{
  background-color: #2176ff;
  margin: 1.5px;
  min-width: 6px;
}

button{
  color: #eefbfb;
  background-image: linear-gradient(90deg,#4da8da, #007cc7);
  border: 5px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  max-width:600px;
}

.Header{
  background-color: #203647;
}


.outer-div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf !important;
}

.blocks-div{
  background-color: #cfcfcf;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
}