.App {
  text-align: center;
}

.block{
  background-color: #16180c;
  color: aliceblue;
  margin: 1.5px;
  min-width: 6px;
}

.outer-div{
  display: flex;
  width: 80%;
  align-items: center;
}

.blocks-div{
  background-color: rgb(153, 192, 226);
  margin-top: 100px;
  width: 100%;
  height: 500px;
  bottom: 20%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
}